.MenuContainer,
.react-contexify__submenu {
  margin: 0;
  padding: 0px;
  background: #2e3139;
  box-shadow: none;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: -0.27px;
  line-height: 15px;
  font-weight: 400px;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #171a21;
  border-radius: 3px;
  width: 200px;
}
.MenuContainer {
  position: absolute;
}
.MenuContainer::before {
  display: block;
  position: absolute;
  content: '';
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  z-index: -1;
}

.MenuContainer .react-contexify__separator {
  border: 1px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0px;
  padding: 0;
}

.react-contexify__item {
  display: block;
  padding: 0px 0px;
  color: #babdc6;
}

.react-contexify__item .item_right {
  align-items: flex-end;
}

.react-contexify__item::after {
  vertical-align: 2px;
  content: attr(label);
}

.react-contexify__item:hover > .react-contexify__item__content {
  background-color: #1e2129 !important;
}

.react-contexify__item__content {
  color: #babdc6;
  align-items: center;
  padding: 8px 12px;
  white-space: nowrap;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.react-contexify__submenu-arrow {
  line-height: 0px;
}
